<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1 class="display-3">Bienvenido, MUSIFY</h1>
        <p class="lead">Web pagina musical  desarrollado con el potencial de Node.js y Angular</p>
        <hr class="my-4">
        <p>Empieza a disfrutar este magnifico sitio y a escuchar la musica de tus artistas favoritos.</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" [routerLink]="['/artistas', 1]" role="button">Ver Artistas</a>
        </p>
    </div>
</div>
